<!DOCTYPE html>
<html>
  <head> <link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
    <style>
    body {
        font-family: 'Annie Use Your Telescope';font-size: 22px;
    }
    </style>
    </head>
    <body> <body>
    <div class="container d-flex align-items-center h-100">
    <div class="row">
        <header class="text-center col-12">
        <h1 class="text-uppercase"><strong>About Me</strong></h1>
        </header>

      
<b>Welcome to my blog! This is Arpita Sam, and I am 16 years old.
Sarcasm is my middle name.
Please be <a href="http://www.namaii.com/readme/">kind</a>.
Learning to be a physicist, writer, strategist, economist, philosopher and a nature-loving, friendly alien.
<br>
<br>

<img src="pi.jpg" alt="xkcd ofcourse" height="500" width="500px"/>
Source - xkcd, ofcourse. 
<br>
<img src="https://www.buttercupfestival.com/3-167.png" alt="Buttercup Festival" height="500" width="500"/>
Source - Buttercup Festival by David Troupes.
<br>
<br>
"Who reads<br>
Incessantly, and to his reading brings not<br>
A spirit and judgment equal or superior<br>
Uncertain and unsettled still remains,<br>
Deep versed in books, and shallow in himself."<br>
<br>
"Mankind, instead of being the central figure on the stage of reality,
the rational creature for whom the non-rational world exists, is actually an accident, 
a late and adventitious newcomer whose life is governed by contingency; 
and the proof, paradoxically, comes from rationalism itself, from the Darwinian idea of evolution.
 Whatever may be the case with trees and stones and stars, man the thinker is a by-product, a nonessential component of reality, and he and all his works cling to existence with a hold that is tenuous and feeble."
— Nausea, Jean-Paul Sartre.  
<br>
<br>  

"My mind rebels at stagnation. Give me problems, give me work, give me the most abstruse cryptogram, or the most intricate analysis, and I am in my own proper atmosphere. I can dispense with artificial stimulants. But I abhor the dull routine of existence."  
- Sherlock Holmes, A.C. Doyle.
<br>
<br>

"So please, oh please, we beg, we pray,
Go throw your TV set away,
And in its place you can install
A lovely bookshelf on the wall."
- Mike Teavee's Poem (from Charlie and the Chocolate Factory), Roald Dahl 
<br>
<br>
<br>
Arpita Sam.
<br>
<br>
<br>
<br>
<b>
<body style="background-color:#ffee00fd;">
