<!DOCTYPE html>
<html>
  <head><link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
    <style>
    body {
        font-family: 'Annie Use Your Telescope';font-size: 22px;
    }
    </style>
    </head> <body> <div class="container d-flex align-items-center h-100">
    <div class="row">
        <header class="text-center col-12">
        <h1 class="text-uppercase"><strong>All about Aliens!</strong></h1>
        </header>
        <body style= "background-color:#c9ee73fd;">
<b>
24th July, 2022
<br>
<br>
Good day readers! Today, I will be talking about aliens. I've got loads of information from science fiction research. 
<br>
<br>
<br>
<br>
First up, On Mars:
<br>
In 1976, NASA’s Viking 1 spacecraft spotted a shadowy feature on Mars that looked uncannily like a human face.
 Many people jumped to the conclusion that it was an alien monument, possibly designed to send a message that
 a civilisation once existed on the planet. But the excitement was brief. Later images showed it was simply
  a Martian mesa (a high plateau with steep sides) that was casting peculiar shadows, making it look like a
   human visage. This ‘face’ on Mars (below) turned out to be a natural rock formation.
<br>
<br>
Scientists revisiting archived observations made by the Parkes Observatory in New South Wales, 
Australia in 2007 noticed something odd. They saw a brief, yet extremely bright burst of radio waves
 that lasted just five milliseconds. Nothing like it had ever been seen before. But in April this year, 
 a similar signal was reported on the other side of the world at Puerto Rico’s Arecibo radio telescope. 
 Researchers now think there’s good evidence that these ‘fast radio bursts’ (FRBs) are not only real, but 
 very common – and they come from vast distances far beyond our own Galaxy. Nobody knows what causes them, 
 but could they possibly be evidence of intelligent aliens trying to get our attention?
 <br>
The Parkes Observatory has a vast 64m-diameter radio dish, which is one of the world’s 
oldest large movable dishes. It recorded an FRB in 2001, although it wasn’t until several 
years later that astronomers noticed the strange signal. Since 2007, they have shown that 
the Parkes radio dish has spotted at least half a dozen FRBs, all of them lasting just a 
few thousandths of a second. They have all come from different directions on the sky. All 
the Parkes observations suggest that the FRBs come from sources that are very far away, 
according to Prof Benjamin Stappers from the University of Manchester, whose team has analysed the bursts. 
“Radio waves are dispersed by electrons in interstellar and intergalactic space, like light shining through 
a prism to give you the different colours,” he says. “This causes low-frequency radio waves to arrive at 
the telescope later than high-frequency waves.”
The amount of dispersion the team measured in the FRBs suggests that the radio bursts came from sources millions or even billions of light-years away. “They must be outside our Galaxy,” says Stappers.
Until now, the findings have been controversial, because no other radio telescope had seen the peculiar short bursts. There was always the possibility that the Parkes dish had just picked up some local interference – maybe from a satellite or radar station – or that there was some kind of glitch with its electronics. 
<br>
<br>
<br>
ANOTHER SIGNAL
<br>
<br>
<br>

 Earlier in 2020, however, the plot thickened. Analysis of observations by the giant 305m-diameter Arecibo radio telescope in Puerto Rico have shown that it has also spotted a fast radio burst.
It occurred on 2 November 2012 and had the same hallmarks as the Parkes FRBs, suggesting it came from far beyond the Milky Way. “Our result is important because it eliminates any doubt that these radio bursts are truly of cosmic origin,” says Professor Victoria Kaspi from McGill University in Montreal, Canada, who headed the Arecibo survey that detected this FRB.
“The radio waves show every sign of having come from far outside our Galaxy, which is a really exciting prospect.” Dr Laura Spitler from the Max Planck Institute for Radio Astronomy in Bonn, Germany, who led the analysis of the Arecibo signal, adds that the observations now look extremely compelling. “The brightness and duration of this event, and the inferred rate at which these bursts occur, are all consistent with the properties of the bursts previously detected by the Parkes telescope in Australia,” she explains. 
<br>
<br><br>
POSSIBLE CAUSES (Debunking non-alien possibilities)
<br>
<br>
<br>

So what causes these extremely bright radio bursts? So far they’re a complete enigma, says Stappers. Possibilities include a range of exotic astrophysical objects, such as evaporating black holes or mergers between neutron stars. Neutron stars are the collapsed remains of the cores of massive stars that imploded during supernova explosions. “Another possibility is that they are bursts much brighter than the giant pulses seen from some pulsars,” adds Professor James Cordes from Cornell University in Ithaca, New York.
<br>
<br>
Pulsars are rapidly spinning neutron stars that emit radio beams from their poles, and these can appear as radio pulses as they sweep across Earth like lighthouse beams. But is there any chance that the fast radio bursts are messages from extraterrestrials trying to contact us?
It seems unlikely. One reason is that the bursts are probably very common and seem to come from random directions on the sky. Scientists have only detected a handful of them so far, but they think that if huge radio telescopes were monitoring all of the sky all the time, they’d see roughly 10,000 of the bursts each day. It seems odd that aliens on thousands of planets in different parts of the cosmos would all contact us in the same manner.
The natural-looking patterns of the FRBs are further evidence that they are not of alien origin. Light emissions from natural astronomical sources are usually broadband, and smeared out over a wide band of wavelengths. Narrowband signals with a waveband spanning only a few Hertz wide or less are typical from a purpose-built transmitter. That doesn’t fit with the FRBs, which have multiple wavelengths. According to researchers involved in the search for extraterrestrial intelligence (SETI), another problem is repetition. No one has seen any FRBs repeat in the same patch of sky.
<br>
<br>
What would alien life actually look like? 
<br>
<br>
Universe could turn out to be a pretty wild place. Recent astronomical discoveries suggest that billions of Earth-like planets are dotted throughout our Galaxy, which is just one of billions of galaxies in the Universe. “Our best estimates are that one in four stars have a planet that is the same size and the same temperature as the Earth. That’s very high,” says David Charbonneau, professor of astronomy at Harvard University, US. And many scientists now think there is life on at least some – if not many – of those planets and their moons.
One of them is Dr Chris McKay, a planetary scientist at NASA’s Ames Research Center, who says that we can assume that life is widespread based on “two simple facts”.
First, the chemical elements of life, such as nitrogen, hydrogen and oxygen, are widespread in the Universe, as are the two key compounds of life on Earth: liquid water and organic carbon.
Second, we know that life was present on Earth very early in its history – soon after the planet was formed – which suggests that once the conditions are right, life springs up easily and quickly. “If the origin of life is widespread, then complex life will be widespread,” says McKay. That means we might expect to find more than just singlecelled microbes out there. “
The best way to find out is to go look.” Some scientists and entrepreneurs are already thinking about how to get to distant stars quickly. Yuri Milner, a Russian tech entrepreneur, came up with the Breakthrough Starshot project, which proposes that tiny chips could be attached to craft propelled through space by an intense Earthbased laser.
If it works, this would cut the travel time to the closest star system, Alpha Centauri, from 100,000 to just 20 years. The first tests of early designs took place this May. In the meantime, two NASA missions are set to shine light on the atmospheres of planets that orbit other stars (exoplanets), pinpointing those that could harbour life. 
<br>
<br>
The TESS mission started collecting data in 2020, and the James Webb Space Telescope launched this year. “We know virtually nothing about the actual conditions on those planets,” says Charbonneau. These two missions will change that.
<br>
<br>
So we can’t really say that alien life would look like Earth life. Even on Earth, life gives rise to radically different, sometimes unique life forms at different times and in different places. When dinosaurs went extinct, what came after them wasn’t more of the same. And the flora and fauna of New Zealand, with kiwi birds and practically no land mammals, are very different from those of the Serengeti, with its elephants and giraffes, or Madagascar with its lemurs. For unique life forms on Earth, look no further than seahorses, says Dr Lauren Sallan, a palaeontologist at the University of Pennsylvania. The animal shares basic components of other fish but has a unique shape, and reaching that form required a very unlikely evolutionary pathway.
“You do get weird things that happen once – both now and in the distant past,” says Sallan. On an Earth-like alien planet, things could get even weirder. It’s possible that we wouldn’t even recognise them as life, given that our current efforts focus on finding “life as we know it”, says Casey Brinkman, an astronomer at the University of Hawaii: “There’s all sort of possibilities out there for weird stuff.”
Sallan agrees. Any life forms will have to get energy, but the way they would go about it is hard to predict, she says. “They would be filling similar ecological roles, but whether we would recognise them without a lot of study – I doubt it.”
So to start with, astronomers are focusing their search on signatures of life that we know from Earth, such as oxygen. They’re also focused on finding Earth-like rocky planets where liquid water could exist. “We have to begin with a search for life as we know it,” says Charbonneau.
<br>
<br>

Life on Earth relies not only on having the right kind of atmosphere, but also on the whole climate system: how air, oceans and heat circulate, and how clouds form. If we found an exoplanet with an identical atmospheric composition to Earth, it might still be inhospitable to life if it lacked a similar climate system. A new research area called ‘exoclimatology’ is aiming to understand exoplanet climates – and their implications for life – by applying the computer models used to simulate the Earth’s weather and climate to other worlds. 
<br>
<br>
<br>
Where would they exist?
<br>
<br>
<br>
So far, much of the work has focused on another common exoplanet type: ‘hot Jupiters’ – gas giants like our own Jupiter but which orbit much closer to their parent star. They tend to either rotate very slowly or be ‘tidally locked’ so that – as with the Moon orbiting the Earth – the same side always faces the star. This gives the planets a temperature difference between the ‘day’ side and the ‘night’ side which drives atmospheric circulation, much as the temperature difference between Earth’s equator and the poles powers our own climate. Computer models of this circulation indicate that hot Jupiters have a kind of atmospheric jet stream, says Dr Nathan Mayne, who leads the exoclimatology group at the University of Exeter.
<br>
<br>
<br>
 This can mix up the chemistry of the hot and cool sides of the atmosphere, changing the blend of gases in some places and thus the amount of starlight that’s transmitted to the surface. While hot Jupiters are not likely to harbour life, this shows how the circulation of the atmosphere can play a crucial role in the surface conditions on a planet – with important implications for their habitability. Add water to the equation and things get even more interesting. Some potentially habitable planets like the TRAPPIST-1 group are also likely to be tidally locked to their star. If these exoplanets have liquid water on their surface, then water on the hot day side will evaporate, eventually condensing into rain or snow on the cooler night side.
“Land covering the day side would quickly dry out and the moisture would be transported to the night side,” says Mayne. “But if there’s an ocean, the water can circulate back” – creating a giant conveyor belt of water between the two sides of the planet. This could make the difference between a barren planet divided into halves – each too extreme for life to exist – and a planet where water circulation creates a more moist and clement environment. With the latest generation of space telescopes, it won’t be long before we’re able to study the atmospheres of ever more exotic exoplanets.
“The combination of TESS and the JWST should provide us with a lot of compelling worlds to study,” says Hörst. Work by the likes of her and Mayne is set to become crucial to astronomers who want to know whether the exoplanet gases and weather patterns that they’re detecting are the symptoms of a sterile planet, or maybe – just maybe – hints of life.
<br>
<br>
<br>
So, keep searching.
<br>
<br>
Until next time, 
<br>
Arpita Sam.
<b>
<br>
<br>
<br>