<!DOCTYPE html>
<html> 
  <head> </style>
  </head>
  <body> <body>
  <div class="container d-flex align-items-center h-100">
  <div class="row">
      <header class="text-center col-12">
      <h1 class="text-uppercase"><strong>Welcome to Deekshita's Blog</strong></h1>
      </header>
      <body style= "background-color:#51e2ecfd;"></body>
<style>
    html {
width: 100%;
height: 100%;
font-family: 'Montserrat', sans-serif;

}
    .child{
    float: left;
    width: 33.33%;
    padding: 5px;
    box-sizing: border-box; padding-top:80px
 }
 .child img{
    width: 100%; padding-top:80px
 }
</style>

</style> 
<body>
  <div class="parent">
      <div class="child">
          <a href="life of  tribals.html">Life of Tribals</a>
          <img src="tribals.jpeg" alt="Ema" height="300" width="100" >
      </div>
  <div class="parent">
        <div class="child">
            <a href="unsolved mystery.html">Unsolved mystery</a>
            <img src="header.jpg" alt="Ema" height="300" width="100" >
        </div>
  </div>  
</body>