<!DOCTYPE html>
<html>
  <head><link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
    <style>
    body {
        font-family: 'Annie Use Your Telescope';font-size: 22px;
    }
    </style>
    </head> <body> <div class="container d-flex align-items-center h-100">
    <div class="row">
        <header class="text-center col-12">
        <h1 class="text-uppercase"><strong>An Existentialist's Opposition to Humanism</strong></h1>
        </header>
        <body style= "background-color:#d7aaecfd;">
<b>
24th July, 2022
<br><br>	Mankind, instead of being the central figure on the stage of reality, the rational creature for whom 
the non-rational world exists, is actually an accident, a late and adventitious newcomer whose life is 
governed by contingency; and the proof, paradoxically, comes from rationalism itself, from the Darwinian 
idea of evolution. Whatever may be the case with trees and stones and stars, man the thinker is a by-product,
 a nonessential component of reality, and he and all his works cling to existence with a hold that is tenuous
  and feeble. — Nausea, Jean-Paul Sartre. 
  <br> <br> 
My response — Not that he is inhumane; quite the contrary, his entire preoccupation is with the sanity and efficacy of the individual person. But he insists that men must confront Nothingness. In a universe grounded in Nothingness, the anthropocentric vision of reality that characterized rational humanism from the Renaissance to the nineteenth century is clearly untenable.
<br><br>
It is common, that when people say "I am a NIHILIST", the others think — depression, sadness, suicide, death, graves, black, black, black, dark gloom, grime and utter blankness.
These generalities must cease. Each of the great Existentialist thinkers pursues his separate course toward the re-establishment of the individual person in the face of Nothingness and absurdity. Sartre is only one of them. But clearly Existentialism, the confrontation with anguish and despair, is a philosophy of our age. No wonder the time and place of its greatest flowering has been Europe in the middle decades of our century. It has deep significance for those who have lived through social chaos, up rooted-ness, irrational torture, and this accounts for the pessimism and nightmarish imagery that pervade much Existentialist writing. But it is worth remembering that if Existentialism flowered in the world of Graham Greene, Andre Malraux, and Arthur Koestler, it originated in the world of Dickens, Balzac, and Pushkin.
Neither Kierkegaard nor Nietzsche lived in circumstances that outsiders would judge to be in the least uncomfortable. In fact, Kierkegaard had quite the beautiful harmonious life...  The aspects of the human condition that they discovered in their inner searching are far more deeply rooted than the particular catastrophes of history. 
<br><br>
“Suffering is the origin of consciousness,” Dostoevsky wrote. But suffering is anywhere in the presence of thought and sensitivity.
Sartre for his part has written, and with equal simplicity: “Life begins on the other side of despair.”
<br><br>
Until next time, <br>
<br>
Arpita Sam