<!DOCTYPE html>
<html>
  <head><link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
    <style>
    body {
        font-family: 'Annie Use Your Telescope';font-size: 22px;
    }
    </style>
    </head> <body> <div class="container d-flex align-items-center h-100">
    <div class="row">
        <header class="text-center col-12">
        <h1 class="text-uppercase"><strong>Ideas Running 1: Cyber Warfare is a Misnomer!</strong></h1>
        </header>
        <body style= "background-color:#fd7979fd;">
<b>
25th July, 2022
<br>
<br>
When we think of warfare, we think of soldiers in full military gear with handheld weapons lined up to fight the enemy.
 And while there is still too much blatant, in-your-face warfare going around, there is now a new kind of conflict playing out worldwide.
 <br> 
 It's called "Shadow wars", and it is quickly taking over conventional warfare.
Data warfare is another aspect of shadow warfare. Despite the many advances in tech security, it is still relatively easy for computers, 
smartphones, and other personal gadgets to get hacked by the enemy. Clicking on the wrong link or even missing a call can be enough to 
install a virus onto your phone, giving hackers access to your phone's camera, microphone, and information.
<br>
<br>
<br>

To date there has been an inability to acquire any substantial, irrefutable evidence of cyber warfare, only speculations based on historical information, rumors, propaganda, and misinterpretation or misrepresentation of facts. All politically motivated cyber attacks are merely sophisticated versions of sabotage, espionage, or subversion – and that it is unlikely that cyber war will occur in the present, or the future.
<br>Hence it is a misnomer.
<br> <br>
It is funny to think, really. People are so sure that WWIII will be caused by country wide cyber attacks.
<br>
Until next time, 
<br>
Arpita Sam.
