<!DOCTYPE html>
<head>
<title> Technology over the years</title>
<style> 

body {
  font-family: Arial;
  padding: 20px;
  background: #97eeee;
  font-family: Tahoma, Verdana, sans-serif;
}

/* Header/Blog Title */
.header {
  padding: 5px;
  font-size: 40px;
  text-align: center;
  background: #dbb788;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {

  width: 100%;
}

/* Right column  CAN ADD LATER */
.rightcolumn {
  float: left;
  width: 50%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
/* Add a card effect for articles */
.card {
  background-color: #f6e6d9;
  padding: 20px;
  margin-top: 20px;
}
</style>
</head>

<body>
    <div class="header">
        <h2>TRIBALS: SOULS OF INDIA!</h2>
    </div>
    <div class="leftcolumn">
        <div class="card">
            
        <p style="font-size:22px ;">
            The Adivasi are tribes of the Indian subcontinent. The term is a modern Sanskrit word coined in the 1930s by tribal political activists 
            to give an indigenous identity to tribal people by claiming indigenous origin. The term is also used for ethnic minorities, such as Chakmas of Bangladesh, 
            Khas of Nepal, and Vedda of Sri Lanka. However, the government of India does not officially recognise tribes as indigenous people. 
            India ratified the International Labour Organization (ILO) Convention 107 on Indigenous and Tribal Peoples of the 
            United Nations (1957) and refused to sign the ILO Convention 169. Most of these groups are included in the Scheduled Tribe category under constitutional provisions in India.
            <br>
            <br>
            HISTORY
            Although considered uncivilised and primitive, Adivasis were usually not held to be intrinsically impure by surrounding (usually Dravidian or Indo-Aryan) populations, unlike Dalits, who were. 
            Thus, the Adivasi origins of Valmiki, who composed the Ramayana, were acknowledged, as were the origins of Adivasi tribes such as the Garasia and Bhilala, which descended from mixed Rajput and Bhil marriages. 
            Unlike the subjugation of the Dalits, the Adivasis often enjoyed autonomy and, depending on region, evolved mixed hunter-gatherer and farming economies, controlling their lands as a joint patrimony of the tribe. 
            In some areas, securing Adivasi approval and support was considered crucial by local rulers, and larger Adivasi groups were able to sustain their own kingdoms in central India. 
            The Meenas and Gond Rajas of Garha-Mandla and Chanda are examples of an Adivasi aristocracy that ruled in this region, and were "not only the hereditary leaders of their Gond subjects, 
            but also held sway over substantial communities of non-tribals who recognized them as their feudal lords. Irula men from the Nilgiri Hills in Tamil Nadu, c.1871. 
            The historiography of relationships between the Adivasis and the rest of Indian society is patchy. There are references to alliances between Ahom Kings of Brahmaputra valley and the hill Nagas. 
            This relative autonomy and collective ownership of Adivasi land by Adivasis was severely disrupted by the advent of the Mughals in the early 16th century. 
            Rebellions against Mughal authority include the Bhil Rebellion of 1632 and the Bhil-Gond Insurrection of 1643 which were both pacified by Mughal soldiers. With the advent of the Kachwaha Rajputs and Mughals into their territory, 
            the Meenas were gradually sidelined and pushed deep into the forests. As a result, historical literature has completely bypassed the Meena tribe. 
            The combined army of Mughals and Bharmal attacked the tribal king Bada Meena and killed him damaging 52 kots and 56 gates. Bada's treasure was shared between Mughals and Bharmal.
            <br>
            <br>
            ADIVASI LITERATURE 
            
            Adivasi literature is the literature composed by the tribals of the Indian subcontinent. It is composed in more than 100 languages. 
            The tradition of tribal literature includes oral literature and written literature in tribal languages ​​and non-tribal languages. 
            The basic feature of tribal literature is the presence of tribal philosophy in it. Prominent tribal writers include Nirmala Putul, 
            Vahru Sonawane, Temsula Ao, Mamang Dai, Narayan, Rose Kerketta, Ram Dayal Munda, Vandana Tete, Anuj Lugun etc.
            An academy for teaching and preserving Adivasi languages and culture was established in 1999 by the Bhasha Research and Publication Centre. The Adivasi Academy is located at Tejgadh in Gujarat.
            
            EDUCATION 
            
            Tribal communities in India are the least educationally developed. First generation learners have to face social, psychological and cultural barriers to get education. 
            This has been one of the reasons for poor performance of tribal students in schools. Poor literacy rate since independence has resulted in absence of tribals in academia and higher education. 
            The literacy rate for STs has gone up from 8.5% (male – 13.8%, female – 3.2%) in 1961 to 29.6% (male – 40.6%, female – 18.2%) in 1991 and to 40% (male – 59%, female – 37%) in 1999–2000. 
            States with large proportion of STs like Mizoram, Nagaland and Meghalaya have high literacy rate while states with large number of tribals like Madhya Pradesh, 
            Odisha, Rajasthan and Andhra Pradesh have low tribal literacy rate. Tribal students have very high drop-out rates during school education. Extending the system of primary education into tribal areas 
            and reserving places for needing them, they say, to work in the fields. On the other hand, in those parts of the northeast where tribes have generally been spared the wholesale onslaught of outsiders, 
            schooling has helped tribal people to secure political and economic benefits. The education system there has provided a corps of highly trained tribal members in the professions and high-ranking administrative posts. 
            Tribal children in middle and high schools and higher education institutions are central to government policy, but efforts to improve a tribe's educational status have had mixed results. 
            Recruitment of qualified teachers and determination of the appropriate language of instruction also remain troublesome. Commission after commission on the "language question" has called for instruction, 
            at least at the primary level, in the students' native language. In some regions, tribal children entering school must begin by learning the official regional language, 
            often one completely unrelated to their tribal language. Many tribal schools are plagued by high drop-out rates. Children attend for the first three to four years of primary school and gain a smattering of knowledge, 
            only to lapse into illiteracy later. Few who enter continue up to the tenth grade; of those who do, few manage to finish high school. Therefore, very few are eligible to attend institutions of higher education, where the high rate of attrition continues. 
            Members of agrarian tribes like the Gonds often are reluctant to send their children to school.
            <br>
            <br>
            An academy for teaching and preserving Adivasi languages and culture was established in 1999 by the Bhasha Research and Publication Centre. The Adivasi Academy is located at Tejgadh in Gujarat.
           
         </div>
</body>