<!DOCTYPE html>
<html>
  <head> <link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
    <style>
    body {
        font-family: 'Annie Use Your Telescope';font-size: 22px;
    }
    </style>
    </head><body> <div class="container d-flex align-items-center h-100">
    <div class="row">
        <header class="text-center col-12">
        <h1 class="text-uppercase"><strong>Perdurantism and Temporal Parts</strong></h1>
        </header>
        <body style= "background-color:#d49e9ef3;">
<b>
23rd July, 2022
<br>
Good day readers! I do hope you are all doing well. I was reading an article on Perdurantism, a certain sub-branch of philosophical physics. 
<br>
<br>
I found it interesting, that aspects of physics that I enjoy, are similarly available in philosophy. 
Four dimensionality, wormholes and space-time. One of them is Perdurantism.
<br>
<br>
Perdurantism or perdurance theory is a philosophical theory of persistence and identity. 
In it, I enjoyed certain illuminating examples on temporal parts.
<br>
<br>
One very beautiful example -->
<br>
<br>
Take any perdurant and isolate a part of its spatial region. 
That isolated spatial part has a corresponding temporal part to match it. 
We can imagine an object, or four-dimensional worm: an apple. 
This object is not just spatially extended but temporally extended. 
The complete view of the apple includes its coming to be from the blossom, its development, and its final decay.
<br>
Each of these stages is a temporal time slice of the apple, but by viewing an object as temporally extended, 
perdurantism views the object in its entirety.
None of this is special to people: inanimate objects also extend through space by
 having spatial parts. They have different properties in different places, and sometimes 
 they overlap by sharing their parts. These simple facts about spatial parts explain basic features 
 about the way things and people occupy space.
<br>
<br>
<br>
Things and people take up time as well as taking up space: you existed yesterday, 
and, unless reading this article is a real strain, you will exist tomorrow too. 
Just as you can have different properties at different places (hot up here, cold down there), 
you can have different properties at different times (yesterday you hadn’t heard of temporal parts, 
by tomorrow you’ll know plenty about them).
<br>
<br>
<br>
Some philosophers believe that you take up time by having different temporal parts at different times. 
Your spatial parts are things like your head, your feet and your nose; your temporal parts are things like you
-yesterday, you-today and you-tomorrow. If you have different temporal parts, 
this would explain how you can exist at different times, and it would also explain how you can 
have different properties at different times (you-yesterday hasn’t heard of temporal parts, 
you-tomorrow is an expert). 
<br>
According to these philosophers, then, persisting through time is pretty much 
like extending through space: it’s all a matter of parts.
<br>
<br>
<br>
Other philosophers reject this picture. They argue that you persist through time as a whole: #
it’s not just a part of you sitting in front of the computer right now, it’s you, the whole you! 
It was the very same whole person yesterday who knew nothing about temporal parts, and, by tomorrow, 
the very same whole person will be an expert. <br>‘You-yesterday’ isn’t a name for some mysterious part of you 
which only existed for a day; instead, it’s a stilted way of talking about you, and what you were like 
yesterday.
<br>
<br>
You’re performing an amazing trick right now: <br>
you’re in two places at once. How do you manage to be down there, 
near the floor, and yet also be a metre or two up in the air? Well, 
it’s not so very amazing: your feet are down there on the floor, and your head is up in the air. 
Having spatial parts enables you to be in several different places, 
and to have different properties in different places: you’re cold down there on the tiled floor, 
and also warm up there by the heater, because your feet are cold and your head is warm. 
#Moreover, having parts could let you be in the same place as someone else: if you shared a 
hand with a conjoined (‘Siamese’) twin, then you could both wear the same glove without jostling for space.
<br>
<br>
Discussions of time, space, identity and change have been part of philosophy since its earliest days, 
and not every question about persistence obviously concerns temporal parts. For example, can we give 
criteria of identity through time for artefacts, animals or people? What happens to a ship if you replace 
all of its planks one by one? <br>(---- Ship of Theseus!!)<br> What if you keep the old planks, then build a new 
ship out of them? In addressing these questions during recent decades, however, it has proven useful to 
discuss whether objects have temporal parts, because the answers that philosophers give to these questions 
can often depend upon whether they believe in temporal parts.
<br>
<br>
What do you think about philosophical physics? I found it a rather intricate topic to dwell in. 
<br>
<br>
I'll be coming back with another post, so until then,
<br>
Arpita Sam.
<b>
<br>
<br>
<br>
<br>