<!DOCTYPE html>
<html>
  <head> <link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
    <style>
    body {
        font-family: 'Annie Use Your Telescope';font-size: 22px;
    }
    </style>
    </head><body><div class="container d-flex align-items-center h-100">
    <div class="row">
        <header class="text-center col-12">
        <h1 class="text-uppercase"><strong>Summer Reading List 2022</strong></h1>
        </header>
        <body style="background-color:#af8484fd;">
<b>
22nd July, 2022
<br>
Good day humans. Here I have compiled a list of books I've read this summer, and some I still have to read.
<br>
<br>
<br>
1. The Divine Comedy by Dante Alighieri (Read)
<br>
2. Critique of Pure Reason by Immanuel Kant (Read)
<br> 
3. Heart of Darkness by Joseph Conrad (Read)
<br>
4. The Red Badge of Courage by by Stephen Crane (Read)
<br>
5. A Journal of the Plague Year by Daniel Defoe (To be Read)
<br> 
6. The House of the Dead by Fyodor Dostoevsky (Read)
<br>
7. As I Lay Dying by William Faulkner (Read)
<br>
8. The Sound and the Fury by William Faulkner (Read)
<br>
9. The Chess Garden by Brooks Hansen (Read)
<br>
10. Catch-22 by Joseph Heller (To be Read)
<br>
11. 1984 by George Orwell (Read)
<br>
12. Animal Farm by George Orwell (Read)
<br>
13. Being and Nothingness by Jean-Paul Sartre (To be Read)
<br>
14. Nausea by Jean-Paul Sartre (Read)
<br>
15. The Prince by Niccolò Machiavelli (Read)
<br>
16. The Gulag Archipelago by Aleksandr Solzhenitsyn (Read)
<br>
17. The Art of War by Sun Tzu (Read)
<br>
18. Ethan Frome by Edith Wharton (To be Read)
<br>
19. The Improvement of the Mind by Isaac Watts (To be Read)
<br>
20. Conversations on Chemistry by Mrs.Marcet/Jane Haldimand (Read)
<br>
21. Network effect, murder bot diaries - Martha Wells (Not Read)
<br>
22. To Hold up the sky - Liu Cixin (Not Read)
<br>
23. Ball Lightning - Liu Cixin (Read)
<br>
24. Of Ants and Dinosaurs - Liu Cixin (Read)
<br>
25. Feynman's Lectures on Physics (Read)
<br>
26. The Immoralist - Gide (Read)
<br>
27. Observational approach to Cosmology - Baker (Not Read)
<br>
28. Autobiography of An Uneducated Man - Hutchkins (Not Read)
<br>
29. The Republic - Plato (Read)
<br>
30. Under the Net -  Dame Iris Murdoch (Read)
<br>
31. Road to Reality - Sir Roger Penrose (Not completed)
<br>
32. Sherlock Holmes - Sir Arthur Conan Doyle (Read many times)
<br>
33. Remembrance of the Earth's Past Trilogy - Liu Cixin (Read)
<br>
<br>
<br>
<br>
<b>
<body>